.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.75rem 2rem;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.3s;
}

.button-primary {
  color: white;
  background-color: #9333ea;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.button-primary:hover {
  background-color: #7e22ce;
}

.button-submit {
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  color: white;
  background-color: #9333ea;
}

.button-submit:hover {
  background-color: #7e22ce;
}

.button-icon {
  width: 1.25rem;
  height: 1.25rem;
}
